<h2>Customise Settings</h2>

<div class="settings">
	<form ng-submit="save()">
		<div>
		<p class="title">API Key</p>
		<p class="info">Go to <a href="http://api.jchui.me/request">api.jchui.me/request</a> to generate your API key.</p>
		<input type="text"
				ng-model="user.apikey"
				placeholder="Enter your API key" />
		</div>
		
		<div>
		<p class="title">Phase</p>
		<p class="info">Which newsfeed would you like to display?</p>
		<select ng-model="user.phase">
	    	<option value="1">Phase 1</option>
			<option value="2a">Phase 2a</option>
			<option value="2b">Phase 2b</option>
			<option value="3a">Phase 3a</option>
			<option value="3b">Phase 3b</option>
			<option value="4">Phase 4</option>
	    </select>
		</div>
		
		<div>
		<input class="save-btn" 
		        type="submit" value="Save Settings" />
		</div>
	</form>
</div>